@font-face {
    font-family: 'MonoFont';
    src:  url('./monofont.ttf')
}
html {
    height: 10px;
}
body{
    font-family: 'Monofont', Helvetica, sans-serif;
    height:100%;
    font-size: 2vw;
    color: #19FF81;
    background-color: black;
    background-image: radial-gradient(#11581E, #041607);
}
#app{
    position: absolute;
    height: 100%;
    width: 100%;
}

.top{
    display: flex;
    width: 93%;
    margin-left: 3%;
    flex-flow: row nowrap;
    justify-content: space-around;
    flex: 3;
    display: flex;
    flex-flow: row nowrap;
    border-top: 2px solid;
    margin-top: 15px;
    flex: 5;
}

.topLeftLine{
    flex: 4;
    background-image: linear-gradient(to bottom left, #19FF81, transparent);
    background-repeat: no-repeat;
    background-size: 3px 5vh;
    background-position: left;
}

.topRightLine{
    flex: 4;
    background-image: linear-gradient(to bottom right, #19FF81, transparent);
    background-repeat: no-repeat;
    background-size: 3px 5vh;
    background-position: right;
}


.bot{
    position: absolute;
    bottom: 3%;
    width: 93%;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 2px solid;
    margin-bottom: 15px;
    margin-left: 3%;
}

.botLeftLine{
    flex: 4;
    background-image: linear-gradient(to top left, #19FF81, transparent);
    background-repeat: no-repeat;
    background-size: 3px 5vh;
    background-position: left;
}

.botRightLine{
    flex: 4;
    background-image: linear-gradient(to top right, #19FF81, transparent);
    background-repeat: no-repeat;
    background-size: 3px 5vh;
    background-position: right;
}

.buttonContainer>button{
    padding: 0 15px;
    margin-top: 15px;
    cursor: pointer;
    outline: 2px solid;
    background: transparent;
    border-color: #19FF81;
    border-width: 4px;
    outline: none;
    width: 5%;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.listSkills{
    flex: 11;
}

.descContent{
    flex: 12;
    margin: 15px;
}
.title {
    font-size: 1.6em;
}
.value {
    font-size: 2.5em;
}
.description{
    border-top: 2px solid;
    background-image: linear-gradient(to bottom, #19FF81, transparent);
    background-repeat: no-repeat;
    background-size: 3px 5vh;
    background-position: left;
    background-position: 100% 0%;
    position: absolute;
    bottom: 17%;
    width: 48%;
}

.contentSkills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.listSkills{
    padding: 0 15px;
    margin-top: 15px;
    list-style: none;
}
.listSkills>button{
    padding: 0 15px;
    margin-top: 15px;
    cursor: pointer;
    outline: 2px solid;
    background: transparent;
    border-color: #19FF81;
    border-width: 4px;
    outline: none;
    width: 5%;
}
.listSkillsButton:hover{
    padding: 0 15px;
    margin-top: 15px;
    list-style: none;
}
.listSkillsButton:hover{
    cursor: pointer;
    outline: 2px solid;
    background: fade(#19FF81, 20%);
}