@font-face {
    font-family: 'MonoFont';
    src:  url('./monofont.ttf')
}
*{
    font-family: 'Monofont', Helvetica, sans-serif;
    color: #19FF81;
    font-size: 2vw;
}
html {
    height: 10px;
}
body{
    font-family: 'Monofont', Helvetica, sans-serif;
    height:100%;
    font-size: 2vw;
    color: #19FF81;
    background-color: black;
    background-image: radial-gradient(#11581E, #041607);
}
#app{
    position: absolute;
    height: 100%;
    width: 100%;
}

.top{
    display: flex;
    width: 95%;
    margin-left: 2%;
    flex-flow: row nowrap;
    justify-content: space-around;
    display: flex;
    flex-flow: row nowrap;
    border-top: 2px solid;
    margin-top: 15px;
    flex: 5;
}

.topLeftLine{
    flex: 4;
    background-image: linear-gradient(to bottom left, #19FF81, transparent);
    background-repeat: no-repeat;
    background-size: 3px 5vh;
    background-position: left;
}

.topRightLine{
    flex: 4;
    background-image: linear-gradient(to bottom right, #19FF81, transparent);
    background-repeat: no-repeat;
    background-size: 3px 5vh;
    background-position: right;
}


.bot{
    position: absolute;
    bottom: 3%;
    width: 93%;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 2px solid;
    margin-bottom: 15px;
    margin-left: 3%;
}

.botLeftLine{
    flex: 4;
    background-image: linear-gradient(to top left, #19FF81, transparent);
    background-repeat: no-repeat;
    background-size: 3px 5vh;
    background-position: left;
}

.botRightLine{
    flex: 4;
    background-image: linear-gradient(to top right, #19FF81, transparent);
    background-repeat: no-repeat;
    background-size: 3px 5vh;
    background-position: right;
}

.buttonContainer>button{
    padding: 0 15px;
    margin-top: 15px;
    cursor: pointer;
    outline: 2px solid;
    background: transparent;
    border-color: #19FF81;
    border-width: 4px;
    outline: none;
    width: 5%;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.listSkills{
    flex: 11;
}

.descContent{
    flex: 12;
    margin: 15px;
}
.title {
    font-size: 1.6em;
}
.value {
    font-size: 2.5em;
}
.description{
    display: flex;
    width: 95%;
    margin-left: 2%;
    flex-flow: row nowrap;
    justify-content: space-around;
    display: flex;
    flex-flow: row nowrap;
    border-top: 2px solid;
    margin-top: 15px;
    flex: 5;
}
.description>p{
    width: 90%;
}

.contentSkills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;
}

.listSkills{
    padding: 0 15px;
    margin-top: 15px;
    list-style: none;
    margin-left: 3%;
}
.listSkillsButton>button{
    padding: 2%;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
}
.listSkillsButton:hover{
    list-style: none;
    cursor: pointer;
    outline: 2px solid;
    background: fade(#19FF81, 20%);
}
.imageDesc{
    display: flex;
    align-items: center;
    align-self: center;
}
.imageDesc>img{
    margin-left: 35%;
    width: 30%;
    height: 30%;
}
.title{
    text-align: center;
}
.title>p{
    font-size: 3vw;
}

.projectContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 80%;
    margin-left: 5%;
    align-items: center;
    align-self: center;
    bottom: 15%;
}
.rigthArrow{
    transform: rotate(-180deg);
}
.caja{
    outline: 2px solid;
    background: fade(#19FF81, 20%);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}
.cajaRight{
    align-items: center;
    width: 50%;
    height: 100%;
}
.cajaRight>p{
    margin-bottom: 17%;
}
.cajaLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

.cajasPro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomCube{
    margin-bottom: 5%;
    width: 60%;
    text-align: left;
    outline: 2px solid;
    /* background-color: transparent; */
    background-color: #19FF81;
    opacity: 0.5;
}
/* 
.Time{
    outline: 2px solid;
    background: fade(#19FF81, 20%);
    width: 80%;
    height: 10%;
} */