@font-face {
    font-family: 'MonoFont';
    src:  url('./monofont.ttf')
}
*{
    font-family: 'Monofont', Helvetica, sans-serif;
    color: #19FF81;
    font-size: 2vw;
}
html {
    height: 10px;
    box-sizing: border-box;
    overflow-y: hidden;
}
body{
    font-family: 'Monofont', Helvetica, sans-serif;
    height:100%;
    font-size: 2vw;
    color: #19FF81;
    background-color: black;
    background-image: radial-gradient(#11581E, #041607);
}
#app{
    position: absolute;
    height: 100%;
    width: 100%;
}

.top{
    display: flex;
    width: 95%;
    margin-left: 2%;
    flex-flow: row nowrap;
    justify-content: space-around;
    display: flex;
    flex-flow: row nowrap;
    border-top: 2px solid;
    margin-top: 15px;
    flex: 5;
}

.topLeftLine{
    flex: 4;
    background-image: linear-gradient(to bottom left, #19FF81, transparent);
    background-repeat: no-repeat;
    background-size: 3px 5vh;
    background-position: left;
}

.topRightLine{
    flex: 4;
    background-image: linear-gradient(to bottom right, #19FF81, transparent);
    background-repeat: no-repeat;
    background-size: 3px 5vh;
    background-position: right;
}


.bot{
    position: absolute;
    bottom: 3%;
    width: 93%;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 2px solid;
    margin-bottom: 15px;
    margin-left: 3%;
}

.botLeftLine{
    flex: 4;
    background-image: linear-gradient(to top left, #19FF81, transparent);
    background-repeat: no-repeat;
    background-size: 3px 5vh;
    background-position: left;
}

.botRightLine{
    flex: 4;
    background-image: linear-gradient(to top right, #19FF81, transparent);
    background-repeat: no-repeat;
    background-size: 3px 5vh;
    background-position: right;
}

.buttonContainer>button{
    padding: 0 15px;
    margin-top: 15px;
    background: transparent;
    outline: none;
    width: 15%;
    border: none;
}

.buttonContainer>button:hover{
    cursor: pointer;
    outline: 2px solid;
    outline-color: #19FF81;
    background: #19ff808a;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.listSkills{
    flex: 11;
}

.descContent{
    flex: 12;
    margin: 15px;
}
.title {
    font-size: 1.6em;
}
.value {
    font-size: 2.5em;
}
.description{
    display: flex;
    width: 95%;
    margin-left: 2%;
    flex-flow: row nowrap;
    justify-content: space-around;
    display: flex;
    flex-flow: row nowrap;
    border-top: 2px solid;
    margin-top: 15px;
    flex: 5;
}
.description>p{
    width: 90%;
}

.contentSkills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;
}

.listSkills{
    padding: 0 15px;
    margin-top: 15px;
    list-style: none;
    margin-left: 3%;
}
.listSkillsButton>button{
    padding: 2%;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
}
.listSkillsButton:hover{
    list-style: none;
    cursor: pointer;
    outline: 2px solid;
    background: #19ff8091;
}
.imageDesc{
    display: flex;
    align-items: center;
    align-self: center;
}
.imageDesc>img{
    margin-left: 35%;
    width: 30%;
    height: 30%;
}
.title{
    text-align: center;
}
.title>p{
    font-size: 3vw;
}

.projectContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 80%;
    margin-left: 5%;
    align-items: center;
    align-self: center;
}

.leftArrow{
    cursor: pointer;
}
.rigthArrow{
    transform: rotate(-180deg);
    cursor: pointer;
}

.caja{
    outline: 2px solid;
    background: #19ff801e;
    display: flex;
    /* position: fixed; */
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: 60%;
}
.cajaRight{
    align-items: center;
    width: 50%;
    height: 100%;
}
.cajaRight>p{
    width: 100%;
    height: 200px;
    margin-bottom: 17%;
}
.cajaLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}
.cajaLeft>p{
    font-size: 3.5vw;
}
.cajaLeft>img{
    /* margin-left: 15%; */
    width: 40%;
    height: 40%;
}

.cajasPro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomCube{
    margin-bottom: 5%;
    width: 60%;
    text-align: left;
    outline: 2px solid;
    background-color: #19ff806e;
    opacity: 0.5;
}

.pip{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 60%;
    margin-left: 5%;
    align-items: center;
    align-self: center;
    top: 3%;
}

.healthPipBoy{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    height: 60%;
    margin-left: 30%;
    align-items: center;
    align-self: center;
    top: 3%;
}

.vaultboy{
    /* background-position:2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width:85%;
    height:100%;
}
.vaultboy>img{
    margin-top: 10%;
    width: 70%;
    height: 70%;
    margin-bottom: 10%;
}
.leftHealthBars{
    display: flex;
    flex-direction: column;
    width:30%;
    height:100%;
}
.rightHealthBars{
    display: flex;
    flex-direction: column;
    align-items: left;
    align-self: left;
    width:30%;
    height:100%;
}
.bar1,.bar2,.bar3,.bar4,.bar5,.bar6{
      height:10px;
      background:#64d515;
}
.bar1{
    width:100%;
    margin-bottom: 100%;
}
.bar2{
    width:100%;
}
.bar3{
    width:40%;
}
.bar4{
    width:40%;
}
.bar5{
    width:100%;
    margin-bottom: 100%;
}
.bar6{
    width:100%;
}

.statsMe{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    width: 100%;
    height: 100%;
    margin-left: 20%;
}
.gun{
    background-color: #11581ee2;
    height: 100%;
    width: 26%;
    margin-left: 10%;
}
.gun>img{
    width: 85%;
    height: 85%;
    margin-left: 5%;
    margin-top: 5%;
}

.aim{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #11581ee2;
    height: 100%;
    width: 6%;
    margin-left: 10px;
}
.aim>img{
    margin-top: 10px;
    width: 90%;
    height: 90%;
}

.helmet{
    background-color: #11581ee2;
    height: 100%;
    width: 26%;
    margin-left: 10%;
}
.helmet>img{
    width: 85%;
    height: 85%;
    margin-left: 5%;
    margin-top: 5%;
}
.shield{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #11581ee2;
    height: 100%;
    width: 6%;
    margin-left: 10px;
}
.shield>img{
    margin-top: 10px;
    width: 90%;
    height: 90%;
}
.rad{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #11581ee2;
    height: 100%;
    width: 6%;
    margin-left: 10px;
}
.rad>img{
    margin-top: 10px;
    width: 90%;
    height: 90%;
}
.energy{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #11581ee2;
    height: 100%;
    width: 6%;
    margin-left: 10px;
}
.energy>img{
    margin-top: 10px;
    width: 90%;
    height: 90%;
}

.MeOptions{
    display: flex;
    flex-direction: row;
}
.MeAsk{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 90%;
    margin-left: 5%;
}
.MeAsk>button{
    padding: 2%;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    margin-top: 5%;
}
.MeAsk>button:hover{
    list-style: none;
    cursor: pointer;
    outline: 2px solid;
    background: #19ff8086;
}

.regresador{
    height: 100%;
    width: 70%;
}

.contentPerks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;
}

.listPerks{
    padding: 0 15px;
    margin-top: 15px;
    list-style: none;
    margin-left: 3%;
}
.listPerksButton>button{
    padding: 2%;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
}
.listPerksButton:hover{
    list-style: none;
    cursor: pointer;
    outline: 2px solid;
    background: #19ff80a8;
}

.contentMe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;
}

.leftAboutMe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.imageDescMe{
    display: flex;
    align-items: center;
    align-self: center;
    width: 80%;
    height: 80%;
    background-color: #19ff802b;
}
.imageDescMe>img{
    margin-left: 8%;
    width: 76%;
    height: 100%;
}

.descriptionMe{
    display: flex;
    width: 50%;
    margin-left: 2%;
    flex-flow: row nowrap;
    justify-content: space-around;
    display: flex;
    flex-flow: row nowrap;
    border-top: 2px solid;
    margin-top: 15px;
    flex: 5;
}
.descriptionMe>p{
    width: 90%;
}

.titleMe{
    text-align: center;
}
.titleMe>p{
    font-size: 3vw;
}

.starsPerk{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
    height: 10%;
    margin-left: 40%;
}
.starsPerk>img{
    margin-left: 5%;
    width: 30%;
    height: 30%;
}

.Bienvenida{
    /* background-position:2px; */
    width: 50%;
    height: 50%;
    position:absolute;
    background-repeat: no-repeat;
    top: 50%;
    right: -30%;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 70%;
    margin-left: 11%;
}

.git{
    outline: 2px solid;
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #19ff802b;
    margin-left: 10%;
}
.git:hover{
    background-color: #19ff8089;
    cursor: pointer;
}
.git>img{
    width: 100%;
    height: 100%;
}

p:last-child:after {
    animation:blink 1s infinite;
    /* content:"_"; */
}

.waveScreen{
    animation:colorPulse 5s infinite ease-in-out;
    /* background-image:radial-gradient(#444, #111); */
    box-shadow:0 0 5vmin 1vmin #000 inset;
    box-sizing:border-box;
    font-family:'Fira Mono', monospace;
    font-size:20px;
    height:100vh;
    overflow:hidden;
    /* padding:10vmin; */
    width:100vw;
}

.waveScreen>video{
    height:100vh;
    width:100vw;
}
  
.waveScreen:before{
    animation:wave 10s infinite ease-in-out;
    content:"";
    height:20vh;
    left:0;
    opacity:.5;
    position:absolute;
    right:0;
    z-index:1;
}

.waveScreen:after{
    background-image:linear-gradient(transparent, transparent 3px, #222);
    background-size:4px 4px;
    bottom:0;
    content:"";
    left:0;
    pointer-events:none;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
}

@keyframes colorPulse {
    0%, 100% {
      color:#0c0;
    }
    48%, 52% {
      color:#090;
    }
    50% {
      color:#060;
    }
  }
  
  @keyframes wave {
    0% {
      box-shadow:0 -10vh 20vh #0c0;
      top:-100vh;
    }
    48%, 52% {
      box-shadow:0 -10vh 20vh #090;
    }
    50% {
      box-shadow:0 -10vh 20vh #060;
    }
    100% {
      box-shadow:0 -10vh 20vh #0c0;
      top:200vh;
    }
  }
  
  @keyframes blink {
    50% {
      opacity:0;
    }
  }